html {
  font-size: 10px;
  background: url(https://es.yamaha.com/es/files/Image-main_Drums_1200x480_b0d75d4bfe729b59d0388579e6a0ac2a.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.1s;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(105, 66, 66, 0.4);
  text-shadow: -1px -1px 0 #000, 0.4px -1px 0 #000, -1px 0.2px 0 #000, 0px 0.5px 0 #000
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #bbafff;
  font-weight: bold;
  text-shadow: 0 0 3px #FF0000, 0 0 5px rgb(0, 0, 0); 
}
